@import 'font_faces.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
    overflow: hidden;
}


.site-body{
    min-height: 100%;
}


/* HEADER */
.navigation{
    background: #0f0459;
    display: table;
    height: 100vh;
    width: 100%;
    color: white;
    padding: 0 10px;
    font-family: "Signika";
    a {
        text-decoration: none;
        color: white;
        &:hover, &:active, &:focus {
            text-decoration: none;
            color: white;
            
        }
    }
    .active {
        font-weight: 600;
    }
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.nav-brand{
    line-height: 0.8;
    h2{
        margin-bottom: 0;
    }
}
.brand-desc {
    font-size: 0.9em;
    color: #c0c0c0;
    font-variant-caps: all-small-caps;
}

.menu-list{
    list-style: none;
}



/* CONTENT */

.site-content{
    padding-top: 10px;
    overflow-y: scroll;
    height: 100vh;
}