<div class="col-md-3">
    <div class="table navigation">
        <div class="table-cell">
            <div class="nav-brand">
                <%= link_to root_path, class: "brand-link" do %>
                <h2>KAN-ŁUK</h2>
                <p class="brand-desc">
                   Usługi kanalizacyjne
                </p>   
                <% end %>
            </div>
            <div class="menu">
                <nav>
                    <ul class="menu-list">
                        <li class="list-item active">
                            <%= link_to "O nas", "#about" %>
                        </li>
                        <li class="list-item">
                            <%= link_to "Udrażnianie kanalizacji", "#clean" %>
                        </li>
                        <li class="list-item">
                            <%= link_to "Kontakt", "#contact" %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>    
    </div>
</div>