<!DOCTYPE html>
<html>
  <head>
    <title>KanLuk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="home">
    <div class="row site-body">
      <%= render "layouts/header" %>
      <div class="col-md-9 site-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
